body {
    padding-top: 50px;
}

table.table-nonfluid {
    width: auto;
}

h1 {
    color: #666666;
    font-size: 166%;
    margin-bottom: 4pt;
}

h2 {
    color: #666666;
    font-size: 133%;
    margin-bottom: 2pt;
}

div.heading {
    font-weight: bold;
}

div.content {
    padding-left: 12px;
}

div.columns {
    width: 900px;
}

div.columns div {
    width: 33%;
    float: left;
}

div.clear {
    clear: both;
}

.num {
    text-align: right;
}

a, table a, .table a {
    color: #333399;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a.hlink {
    color: #666666;
    text-decoration: underline;
}

span.tier {
    color: #666666;
    font-size: 75%;
    vertical-align: middle;
}

.table.vert-center tbody>tr>td{
    vertical-align: middle;
}

img.unit-icon {
    margin: -8px -4px -8px -8px;
}

pre {
    color: #000000;
    background-color: inherit;
    border: none;
}

pre > a {
    font-weight: bold;
    text-decoration: underline;
}

/* for hiding/showing elements in long dropdown-menu */
ul.hide-excess.show-before > li.ldots-before {
    display: none;
}
ul.hide-excess.hide-before > li.hide-before {
    display: none;
}

ul.hide-excess.show-after > li.ldots-after {
    display: none;
}
ul.hide-excess.hide-after > li.hide-after {
    display: none;
}
ul.hide-excess > li.current-version > a {
    font-weight: bold;
}
