body {
    padding-top: 50px;
}

table, td, th {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 4px;
}

caption {
    font-weight: bold;
    font-size: 133%;
    text-align: left;
    color: #666666;
    padding-bottom: 4pt;
    padding-top: 12pt;
}

h1 {
    color: #666666;
    font-size: 166%;
    margin-bottom: 4pt;
}

h2 {
    color: #666666;
    font-size: 133%;
    margin-bottom: 2pt;
}

th {
    text-align: left;
}

div.heading {
    font-weight: bold;
}

div.content {
    padding-left: 12px;
}

div.columns {
    width: 900px;
}

div.columns div {
    width: 33%;
    float: left;
}

div.clear {
    clear: both;
}

.num {
    text-align: right;
}

a {
    color: #333399;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a.hlink {
    color: #666666;
    text-decoration: underline;
}

span.tier {
    color: #666666;
    font-size: 75%;
    vertical-align: middle;
}
